<template>
  <div>
    <form>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card">
          <h4>Summary of election results <button @click.prevent="$router.go(-1)" class="btn btn-danger pull-right">Back</button></h4>
              <table class="card-body" v-for="(entry, i) in summary" :key="i">
                <thead>
                <th>{{entry.portfolio}}</th>
                <th>Female (%)</th>
                <th>Male (%)</th>
                <th>Total (%)</th>
                </thead>
                <tbody>
                  <tr v-for="(candidate, index) in entry.candidates" :key="index">
                    <td><img :src="candidate.image">{{candidate.fullname}}<span>{{entry.yes}}</span></td>
                    <td>{{candidate.females}} ({{Number(candidate.females/entry.total_votes*100).toFixed(2)}}%)</td>
                    <td>{{candidate.males}} ({{Number(candidate.males/entry.total_votes*100).toFixed(2)}}%)</td>
                    <td>{{candidate.total}} ({{Number(candidate.percent).toFixed(2)}}%)</td>
                  </tr>
                  <tr class="table-footer">
                    <td>Total</td>
                    <td>{{entry.females}} ({{Number(entry.females/entry.total_votes*100).toFixed(2)}}%)</td>
                    <td>{{entry.males}} ({{Number(entry.males/entry.total_votes*100).toFixed(2)}}%)</td>
                    <td>{{entry.total_votes}} (100%)</td>
                  </tr>
                </tbody>
              </table>
          <!--<button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-check"></i> Finish</button>-->
        </div>
      </div>
    </form>
  </div>
</template>
<script>
/* eslint-disable indent,no-trailing-spaces */

export default {
  data () {
    return {
      summary: []
    }
  },
  mounted () {
    this.fetchSummary()
  },
  methods: {
    fetchSummary () {
      const vm = this
      this.axios({
        url: 'api/election/summary',
        method: 'get',
        params: {election_id: vm.$route.query.election_id}
      }).then(({data}) => {
        console.log(data)
        vm.summary = data.data
//        console.log(vm.summary)
        vm.summary.forEach((item) => {
            if (item.candidates.length === 1) {
              item.yes = 'YES'
            } else {
              item.yes = ''
            }
        })
      }).catch(error => {
        console.log(error)
      })
    }
  }
}
</script>
<style scoped>
table{
  width: 100%;
  background: white;
  margin-bottom: 40px;
}
  th, td, tr, thead:not(.portfolio){
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  .portfolio{
    text-align: center;
    width: 100%;
  }
  th{
   background: #3c8dbc;
    color: white;
  }
  td:nth-child(1), th:nth-child(1){
    text-align: left;
    padding-left: 10px;
  }
  tr:nth-child(even){
    background: #D6DBDF;
    /*color: white;*/
  }
  h4{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
  td img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #3c8dbc;
  }
  tr{
    transition: background-color 0.6s ease;
  }
  tr:hover{
    background: #3c8dbc;
    color: white;
  }
  .table-footer{
    background: #2C3E50 !important;
    color: white;
  }
  td span{
    color: green;
    font-weight: bold;
    padding-left: 50px;
  }
</style>
