<template>
  <div>
    <div id="sort-form">
      <div class="row">
        <div class="col-md-12">
          <div class="input-group input-group-sm">
            <input v-model="searchTerm" type="text" class="form-control" placeholder="Search for voters by email or phone or name">
            <span class="input-group-btn">
        <button type="button" @click="filter" class="btn btn-info btn-flat"><i class="fa fa-search"></i> Search</button>
      </span>
          </div>
        </div>
      </div>
      <!--<br>-->
      <div class="box no-border" >
        <div class="box-body" style="padding: 0px;">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <select v-model="selectedCategory" class="form-control" @change="filter">
                <option value="" selected>Show all Categories</option>
                <option v-for="(c, i) in categories" :value="c.id" :key="i" >{{c.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <div class="row" v-for="(chunk, index) in voters" :key="index">
      <app-voter-item :alreadyAdded="true" v-for="(v, i) in chunk" :key="i" :voter="v"></app-voter-item>
    </div>
  </div>
</template>
<script>
import VoterItem from './commons/voterItem.vue'
import _ from 'lodash'
export default {
  created () {
    this.fetchVoter()
  },
  components: {
    AppVoterItem: VoterItem
  },
  computed: {
    voters () {
      return _.chunk(this.votersArray, 2)
    }
  },
  methods: {
    fetchVoter () {
      const vm = this
      this.axios({
        url: 'api/voter/voters',
        method: 'get'
      }).then(({data}) => {
        vm.votersArray = data.data.voters
        vm.categories = data.data.categories
      })
    },
    filter () {
      const search = {term: this.searchTerm, category: this.selectedCategory}
      //      console.log(search)
      this.$loader.show()
      const vm = this
      this.axios({
        url: 'api/voter/search',
        method: 'get',
        params: search
      }).then(({data}) => {
        console.log(data)
        vm.votersArray = data
      }).catch(error => {
        console.log(error)
      }).finally(() => {
        vm.$loader.hide()
      })
    }
  },
  data () {
    return {
      votersArray: [],
      categories: [],
      selectedCategory: '',
      searchTerm: ''
    }
  }
}
</script>
<style scoped>
/*#sort-form{*/
  /*position: fixed;*/
  /*!*right: 300px;*!*/
  /*width: 500px;*/
/*}*/
</style>
