<template>
  <div>
    <div class="box no-border">
      <div class="box-header with-border">
        <h3 class="box-title">Create a category</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form" @submit.prevent="createCategory" id="createCategory">
        <div class="box-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label >Category Name</label>
                <span class="text-danger pull-right" v-show="errors.has('name')">{{errors.first('name')}}</span>
                <input type="text" v-model="category.name" v-validate="'required'"  name="name" class="form-control" placeholder="e.g. Excellence">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Select Priority</label>
                <span class="text-danger pull-right" v-show="errors.has('priority')">{{errors.first('priority')}}</span>
                <select  class="form-control" v-model="category.priority" v-validate="'required'" name="priority">
                  <option value="">Select Priority</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label >Description</label>
                <span class="text-danger pull-right" v-show="errors.has('description')">{{errors.first('description')}}</span>
                <input v-model="category.description" v-validate="'required'" name="description" class="form-control" placeholder="This should be very short">
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <span class="text-danger" v-show="categoryExists">You've already created a category with this name</span>
          <span class="text-success" v-show="succeeded">You've successfully created the category</span>
          <button type="submit" class="btn btn-primary pull-right">Create Category</button>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Search for Categories by name">
          <span class="input-group-btn">
        <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-search"></i> Search</button>
      </span>
        </div>
      </div>
    </div>
    <br>
    <div class="row" v-for="(c, i) in categories" :key="i">
      <app-category v-for="(cat, offset) in c" :key="offset" :category.sync="cat" :index="offset">
        <button @click="deleteCategory(offset, cat.id)" class="btn bg-red btn-sm pull-right"><i class="fa fa-close"></i> Delete</button>
      </app-category>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ul class="pagination">
          <li class="paginate_button previous" :disable="!paginate.prev_page_url" :class="paginate.prev_page_url ? '' : 'disabled'">
            <a href="#" @click.prevent="getCategories(paginate.prev_page_url)">Previous</a>
          </li>
          <li class="paginate_button">
            <span>Page {{paginate.current_page}} of {{paginate.last_page}}</span>
          </li>
          <li class="paginate_button previous" :class="paginate.next_page_url ? '' : 'disabled'">
            <a href="#" @click.prevent="getCategories(paginate.next_page_url)" >Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-undef */

import Category from './commons/category.vue'
import _ from 'lodash'

export default {
  components: {
    AppCategory: Category
  },
  data () {
    return {
      category: {
        name: '',
        priority: '',
        description: ''
      },
      cats: [],
      categoryExists: false,
      succeeded: false,
      paginate: {}
    }
  },
  computed: {
    categories () {
      return _.chunk(this.cats, 3)
    }
  },
  mounted () {
    this.getCategories('api/category/paginate')
  },
  methods: {
    makePagination (data) {
      let pagination = {
        current_page: data.current_page,
        last_page: data.last_page,
        next_page_url: data.next_page_url,
        prev_page_url: data.prev_page_url
      }
      this.paginate = pagination
    },
    deleteCategory (index, id) {
      swal({
        title: 'Are you sure?',
        text: 'Once deleted, you will not be able to recover this Category!',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      })
        .then((willDelete) => {
          if (willDelete) {
            const vm = this
            this.$loader.show()
            this.axios({
              method: 'delete',
              url: 'api/category',
              data: {id: id}
            }).then(() => {
              vm.cats.splice(index, 1)
              swal('Poof! Category has been deleted!', {
                icon: 'success'
              })
            }).finally(() => {
              vm.$loader.hide()
            })
          }
        })
      //  make server request to delete it
    },
    createCategory () {
      this.$validator.validateAll().then(result => {
        if (result) {
          const entry = {...this.category}
          this.makeRequest(entry)
          $('#createCategory')[0].reset()
        }
      })
    },
    makeRequest (entry) {
      this.categoryExists = false
      this.succeeded = false
      const vm = this
      this.$loader.show()
      this.axios({
        url: 'api/category',
        method: 'post',
        data: entry
      }).then(({data}) => {
        vm.succeeded = true
        vm.cats.push(data.data)
      }).catch(() => {
        vm.categoryExists = true
      }).finally(() => {
        vm.$loader.hide()
      })
    },
    getCategories (link) {
      if (!link) {
        return false
      }
      const vm = this
      vm.$loader.show()
      this.axios({
        url: link,
        method: 'get'
      }).then(({data}) => {
        vm.cats = data.data
        vm.makePagination(data)
      }).finally(() => {
        vm.$loader.hide()
      })
    }
  }
}
</script>
<style scoped>
  /*.photo-label{*/
    /*color: #3c8dbc;*/
    /*border: 1px dashed #3c8dbc;*/
    /*padding: 3px;*/
    /*cursor: pointer;*/
  /*}*/
  /*.photo-label:hover{*/
    /*color: darkgreen;*/
  /*}*/
  label{
    font-weight: normal;
    font-size: 1.2em;
  }
  .voter div {
    display: inline;
  }
  .voter div img{
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  /*.add{*/
    /*position: relative;*/
    /*right: -67px;*/
    /*top: 30px;*/
  /*}*/
</style>
