<template>
  <div>
    <app-header/>
    <div class="content-wrapper">
      <div class="container">
        <!-- Main content -->
        <br><br>
        <section class="content">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4" >
              <div id="sidebar" class="hidden-sm hidden-xs">
                <div class="box no-border">
                  <div class="box-body">
                    <img src="/static/images/logo.jpeg" id="logo" class="product-img"/>
                    <!--<p class="person-profile text-center">-->
                      <!--<label>john@doe.com</label>-->
                    <!--</p>-->
                  </div>
                </div>
                <div class="box no-border">
                  <div class="box-body navigation">
                    <router-link :to="{name: 'admin-dashboard'}" tag="button" activeClass="active" class="btn btn-flat btn-block btn-default"><i class="fa fa-dashboard pull-left"></i> Dashboard</router-link>
                    <router-link :to="{name: 'admin-voters'}" tag="button" activeClass="active" class="btn btn-flat btn-block btn-default"><i class="fa fa-users pull-left"></i>Voters</router-link>
                    <router-link :to="{name: 'admin-categories'}" tag="button" activeClass="active" class="btn btn-flat btn-block btn-default"><i class="fa fa-get-pocket pull-left"></i>Categories</router-link>
                    <router-link :to="{name: 'admin-elections'}" tag="button" activeClass="active" class="btn btn-flat btn-block btn-default"><i class="fa fa-thumbs-o-up pull-left"></i>Elections</router-link>
                    <!--<router-link :to="{name: 'admin-messages'}" tag="button" activeClass="active" class="btn btn-flat btn-block btn-default"><i class="fa fa-envelope-o pull-left"></i>Messages</router-link>-->
                    <button @click="logoutPrompt" class="btn btn-flat btn-block btn-default"><i class="fa fa-sign-out pull-left"></i>Logout</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8">
              <transition name="slide-right">
                <router-view/>
              </transition>
            </div>
          </div>
        </section>
        <!-- /.content -->
      </div>
      <!-- /.container -->
    </div>

    <div class="modal fade in" id="logoutModal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Are you sure you want to log out?</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-green pull-left" data-dismiss="modal">No, I want to stay</button>
            <button type="button" class="btn bg-red" @click="logout">Yes I Know</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>
<script>
/* eslint-disable no-undef */

import {AdminHeader} from '../commons'
import Dashboard from './home.vue'
export default {
  components: {
    AppHeader: AdminHeader,
    AppDashboard: Dashboard
  },
  methods: {
    logoutPrompt () {
      $('#logoutModal').modal('show')
    },
    logout () {
      this.$auth.destoryToken()
      $('#logoutModal').modal('hide')
      this.$router.push({name: 'ec-login', params: {message: 'logout successful'}})
    }
  }
}
</script>
<style>
.box{
  /*box-shadow: 1px 1px 3px grey;*/
}
.cover{
  margin-top: -10px;
  width: 100%;
}
  .cover-actions a i{
    color: #ffffff;
  }
  .person-profile{
    padding: 10px;
    font-size: 1.2em;
  }
  .navigation button{
    margin-bottom: 10px;
    color: #3c8dbc;
    font-weight: bold;
  }
  .navigation button{
    transition: background-color 0.5s ease;
  }
  .navigation button:hover{
    background: #3c8dbc;
    color: white;
  }
  #sidebar{
    position: fixed;
    width: 265px;
  }
  #logo{
    width: 100%;
    height: 100%;
  }
</style>
