<template>
  <div>
    <div>
      <!--<img class="cover" src="/static/images/cover.jpg" />-->
      <app-graph :election_id="$route.query.election_id"></app-graph>
    </div><br>
  </div>
</template>
<script>
import Graph from './commons/election-graph.vue'
export default {
  components: {
    AppGraph: Graph
  },
  mounted () {
    //    console.log(this.$route.query.election_id)
    //    this.fetchElectionDetail()
  },
  methods: {
    fetchElectionDetail () {
      const vm = this
      this.$loader.show()
      this.axios({
        method: 'get',
        url: 'api/election/detail',
        params: {id: vm.$route.query.election_id}
      }).then(({data}) => {
        console.log(data)
      }).catch(error => {
        console.log(error)
      }).finally(() => {
        vm.$loader.hide()
      })
    }
  }
}
</script>
