<template>
  <div>
    <div class="box no-border">
      <div class="box-header with-border">
        <h3 class="box-title">Create A New Election</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form" @submit.prevent="validateBeforeSubmit">
        <div class="box-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label >Election Name</label>
                <span class="text-danger" v-if="errors.has('name')">{{errors.first('name')}}</span>
                <input type="text" v-model="election.name" v-validate="'required'" name="name" class="form-control" placeholder="e.g. Excellence">
              </div>
              <div class="form-group">
                <label>Election Date</label>
                <span
                  class="text-danger"
                  v-if="errors.has('electionDate')">
                  {{errors.first('electionDate')}}
                </span>
                <input
                  type="date"
                  v-model="election.date"
                  v-validate="'required'"
                  name="electionDate"
                  class="form-control"
                  placeholder="e.g. 12/12/18">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label >Description</label>
                <span
                  class="text-danger"
                  v-if="errors.has('description')">
                  {{errors.first('description')}}
                </span>
                <textarea
                  class="form-control"
                  v-model="election.description"
                  name="description"
                  v-validate="'required'" rows="5"
                  placeholder="this will remind you of what this election is about">
                </textarea>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label >Category</label>
                <span
                  class="text-danger"
                  v-if="errors.has('category')">
                  {{errors.first('category')}}
                </span>
                <br>
                <select multiple class="font-control" name="category" v-model="election.categories" v-validate="'required'">
                  <option value="" style="color: #aaa;">Assign 1 or more categories</option>
                  <option v-for="(c, i) in cats" :key="i" :value="c.id">{{c.name}}</option>
                </select>
            </div>
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="submit" class="btn btn-primary pull-right">Create Election</button>
        </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Search for voters by email or phone or name">
          <span class="input-group-btn">
        <button type="button" class="btn btn-info btn-flat"><i class="fa fa-search"></i> Search</button>
      </span>
        </div>
      </div>
    </div>
    <br>
    <div class="row" v-for="(chunked, i) in elections" :key="i">
      <app-election v-for="(e, index) in chunked" :key="index" :election="e"></app-election>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-undef */

import Election from './commons/election.vue'
import _ from 'lodash'
export default {
  components: {
    AppElection: Election
  },
  created () {
    this.fetchCategory()
    this.fetElections(null)
  },
  data () {
    return {
      election: {
        date: '',
        name: '',
        description: '',
        categories: []
      },
      cats: [],
      electionsArray: []
    }
  },
  computed: {
    elections () {
      return _.chunk(this.electionsArray, 3)
    }
  },
  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.makeCreateRequest()
        }
      })
    },
    makeCreateRequest () {
      //      const vm = this
      const formData = new FormData()
      formData.append('name', this.election.name)
      formData.append('description', this.election.description)
      formData.append('date', this.election.date)
      this.election.categories.forEach((item) => {
        formData.append('categories[]', item)
      })
      this.axios({
        method: 'post',
        url: 'api/election',
        data: formData
      }).then(({data}) => {
        console.log(data)
        swal('Election created successfully', 'Your election is created and will be active only when you activate it', 'success')
      }).catch(error => {
        console.log(error)
      })
    },
    fetchCategory () {
      const vm = this
      this.axios({
        method: 'get',
        url: 'api/category'
      }).then(response => {
        vm.cats = response.data
      })
    },
    fetElections (searchTerm) {
      const vm = this
      this.axios({
        method: 'get',
        url: 'api/election',
        params: searchTerm
      }).then(({data}) => {
        vm.electionsArray = data.data
      }).catch(error => {
        console.log(error)
      })
    }
  }
}
</script>
<style scoped>
  .photo-label{
    color: #3c8dbc;
    border: 1px dashed #3c8dbc;
    padding: 3px;
    cursor: pointer;
  }
  .photo-label:hover{
    color: darkgreen;
  }
  label{
    font-weight: normal;
    font-size: 1.2em;
  }
  .voter div {
    display: inline;
  }
  .voter div img{
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  .add{
    position: relative;
    right: -67px;
    top: 30px;
  }
</style>
