<template>
  <div>
    <!--<div>-->
      <!--<img class="cover" src="/static/images/cover.jpg" />-->
    <!--</div>-->
    <div class="box no-border">
      <div class="box-body">
        <div class="box-comment">
          <div class="btn-group cover-actions">
            <a href="#" class="btn bg-purple"><i class="fa fa-photo"></i> Upload Cover</a>
            <a href="#" class="btn bg-red"><i class="fa fa-edit"> </i> Edit Organization Profile</a>
            <a href="#" class="btn bg-blue"><i class="fa fa-microphone"></i> Broadcast news</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <app-election :result="false"></app-election>
      <app-election :result="false"></app-election>
      <app-election :result="false"></app-election>
      <app-election :result="false"></app-election>
      <app-election :result="false"></app-election>
      <!-- ./col -->
    </div>
  </div>
</template>
<script>
import ElectionItem from './commons/dashboardElectionItem.vue'
export default {
  components: {
    AppElection: ElectionItem
  }
}
</script>
