<template>
  <div>
    <div class="box no-border">
      <div class="box-header with-border">
        <h3 class="box-title">
          Create Portfolio
        </h3>
        <button @click="$router.go(-1)" class="btn btn-danger btn-sm pull-right">Back</button>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form" @submit.prevent="validateBeforeSubmit">
        <div class="box-body">
          <div class="row">
            <div class="col-md-10">
              <div class="form-group">
                <label>Portfolio name</label>
                <span class="text-danger pull-right" v-show="errors.has('name')">{{errors.first('name')}}</span>
                <input type="text" v-model="name" v-validate="'required'"  name="name" class="form-control" placeholder="e.g. President">
              </div>
            </div>
            <div class="col-md-2">
              <button type="submit" style="position: relative; top: 25px;" class="btn btn-primary pull-right btn-block">Create</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-portfolio v-for="(port, index) in portfolioArray" :key="index" :portfolio.sync="port">
        </app-portfolio>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-undef */
import Portfolio from './commons/portfolio.vue'
export default {
  components: {
    AppPortfolio: Portfolio
  },
  data () {
    return {
      name: '',
      portfolioArray: []
    }
  },
  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.createPortfolio()
        }
      })
    },
    createPortfolio () {
      const vm = this
      this.$loader.show()
      this.axios({
        url: 'api/portfolio',
        method: 'post',
        data: {name: vm.name, election_id: vm.$route.query.election_id}
      }).then(({data}) => {
        console.log(data.data)
        vm.portfolioArray.push(data.data)
        swal('Portfolio created', 'You can assign a candidate to this portfolio', 'success')
      }).catch(() => {
        swal('Error occured', 'Sorry an unexpected error has occured', 'error')
      }).finally(() => {
        vm.$loader.hide()
      })
    },
    fetchPortfolio () {
      const vm = this
      this.axios({
        url: 'api/portfolio',
        method: 'get',
        params: {election_id: vm.$route.query.election_id}
      }).then(({data}) => {
        console.log(data.data)
        vm.portfolioArray = data.data
      }).catch(error => {
        console.log(error)
        swal('Oops', 'Something expected happend when we try fetching portfolios', 'error')
      })
    }
  },
  mounted () {
    console.log('manageCandidate.vue called')
    this.fetchPortfolio()
  }
}
</script>
<style scoped>
  label{
    font-weight: normal;
  }
</style>
