<template>
  <div class="login-box">
    <div class="login-logo">
      <a href="#"><b>EC</b> Registration</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Register as Electoral commissioner</p>
      <p class="login-box-msg text-danger">{{message}}</p>
      <div class="alert alert-success text-center" v-if="success">Registration successful, a confirmation link is sent to your email: {{user.email}}. In the meantime, you can login to your account</div>
      <form action="#" method="post" @submit.prevent="login">
        <!--<span class="text-danger" v-show="errors.has('email')">{{ errors.first('email') }}</span>-->
        <div class="form-group has-feedback">
          <label class="pull-left">first name</label> <span class="text-danger pull-right" v-show="errors.has('firstname')">{{errors.first('firstname')}}</span>
          <span class="text-danger pull-right" >{{server_errors.firstname[0]}}</span>
          <input type="text" v-model="user.firstname" v-validate="'required'"  name="firstname" class="form-control" placeholder="e.g John">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <label class="pull-left">Surname</label> <span class="text-danger pull-right" v-show="errors.has('surname')">{{errors.first('surname')}}</span>
          <span class="text-danger pull-right" >{{server_errors.surname[0]}}</span>
          <input type="text" v-model="user.surname" v-validate="'required'"  name="surname" class="form-control" placeholder="e.g Doe">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <label class="pull-left">Gender</label> <span class="text-danger pull-right" v-show="errors.has('surname')">{{errors.first('surname')}}</span><br>
          <!--<span class="text-danger pull-right" >{{server_errors.surname[0]}}</span>-->
          <label for="regM">Male</label>
          <input id="regM" type="radio" value="Male" v-model="user.gender" name="gender" style="margin-right: 20px;">
          <label for="regF">Female</label>
          <input id="regF" type="radio" value="Female" v-model="user.gender"  name="gender" >
          <!--<span class="glyphicon glyphicon-user form-control-feedback"></span>-->
        </div>

        <div class="form-group has-feedback">
          <label class="pull-left">Date Of Birth</label> <span class="text-danger pull-right" v-show="errors.has('dateOfBirth')">{{errors.first('dateOfBirth')}}</span>
          <span class="text-danger pull-right" >{{server_errors.dateOfBirth[0]}}</span>
          <input type="date" v-model="user.dateOfBirth" v-validate="'required'"  name="dateOfBirth" class="form-control">
          <!--<span class="fa fa-calender"></span>-->
        </div>

        <div class="form-group has-feedback">
          <label class="pull-left">Mobile number</label> <span class="text-danger pull-right" v-show="errors.has('phone')">{{errors.first('phone')}}</span>
          <span class="text-danger pull-right" >{{server_errors.phone[0]}}</span>
          <input type="text" v-model="user.phone" v-validate="'required|numeric'"  name="phone" class="form-control" placeholder="e.g 0547493453 ">
          <span class="glyphicon glyphicon-phone form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <label class="pull-left">E-mail</label> <span class="text-danger pull-right" v-show="errors.has('email')">{{errors.first('email')}}</span>
          <span class="text-danger pull-right" >{{server_errors.email[0]}}</span>
          <input type="text" v-model="user.email" v-validate="'required|email'" name="email" class="form-control" placeholder="john.doe@example.com">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <!--<span class="text-danger" v-show="errors.has('password')">{{ errors.first('password') }}</span>-->
        <div class="form-group has-feedback">
          <label class="pull-left">Password</label> <span class="text-danger pull-right" v-show="errors.has('password')">{{errors.first('password')}}</span>
          <span class="text-danger pull-right" >{{server_errors.password[0]}}</span>
          <input type="password" v-model="user.password" v-validate="'required|min:6'" name="password" class="form-control" placeholder="Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <label class="pull-left">Confirm Password</label> <span class="text-danger pull-right" v-show="errors.has('confirm')">{{errors.first('confirm')}}</span>
          <input type="password" v-model="user.password_confirmation" v-validate="'confirmed:password'" name="confirm" class="form-control" placeholder="Password Confirmation">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <router-link :to="{name: 'welcome'}" tag="a" href="#" class="btn btn-default btn-sm btn-flat"><span class="fa fa-backward"></span></router-link>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <!-- /.social-auth-links -->
    </div>
    <!-- /.login-box-body -->
  </div>
</template>
<script>
/* eslint-disable no-undef */
export default {
  mounted () {
    $('body').addClass('login-page')
    $('body').addClass('hold-transition')
  },
  destroyed () {
    $('body').removeClass('login-page')
    $('body').removeClass('hold-transition')
  },
  data () {
    return {
      user: {
        firstname: '',
        surname: '',
        password: '',
        phone: '',
        email: '',
        gender: 'Male',
        password_confirmation: '',
        dateOfBirth: ''
      },
      message: '',
      success: false,
      /**
       * server returns array of error messages for each property of the server_error object
       */
      server_errors: {
        firstname: [''],
        surname: [''],
        phone: [''],
        email: [''],
        password: [''],
        dateOfBirth: ['']
      }
    }
  },
  methods: {
    /**
     * login methods validates form inputs before sending to the server
     */
    login () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          // sending request if validation does not return error
          this.makeRequest()
        }
      })
    },
    makeRequest () {
      const vm = this
      this.showLoader()
      this.resetErrors()
      this.axios({
        method: 'post',
        url: 'api/register',
        data: vm.user
      }).then(({data}) => {
        vm.success = true
        swal('Registration successful', 'Well done, go to login page and login', 'success')
      }).catch(({response}) => {
        // replacing old messages with the server error messages
        vm.server_errors = {...vm.server_errors, ...response.data.errors}
        vm.success = false
      })
        .finally(() => {
          vm.hideLoader()
        })
    },
    showLoader () {
      $('#loader').modal({backdrop: 'static'})
    },
    hideLoader () {
      $('#loader').modal('hide')
    },
    resetErrors () {
      this.server_errors = {
        firstname: [''],
        surname: [''],
        phone: [''],
        email: [''],
        password: [''],
        dateOfBirth: ['']
      }
    }
  }
}
</script>
<style scoped>
span.text-danger{
  font-weight: normal;
}
.alert, alert-success{
  border-radius: 0px !important;
  background: #58D68D !important;
}
</style>
