<template>
  <div>
    <div class="box no-border">
      <div class="box-header with-border">
        <h3 class="box-title">Register A Voter</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form" @submit.prevent="validateForm">
        <div class="box-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label >Firstname</label>
                <span class="text-danger pull-right" v-show="errors.has('firstname')">{{errors.first('firstname')}}</span>
                <input type="text" v-model="voter.firstname" v-validate="'required'" name="firstname" class="form-control" placeholder="e.g. John">
              </div>
              <div class="form-group">
                <label>Phone</label>
                <span class="text-danger pull-right" v-show="errors.has('phone')">{{errors.first('phone')}}</span>
                <input type="text" v-model="voter.phone" v-validate="'required|numeric'" name="phone" class="form-control" placeholder=".e.g. 0547406827">
              </div>
              <div class="form-group">
                <label>Date Of Birth</label>
                <span class="text-danger pull-right" v-show="errors.has('dateOfBirth')">{{errors.first('dateOfBirth')}}</span>
                <input type="date" v-model="voter.dateOfBirth" v-validate="'required'" name="dateOfBirth" class="form-control" >
              </div>
              <div class="form-group">
                <label>Gender</label>
                <span class="text-danger pull-right" v-show="errors.has('gender')">{{errors.first('gender')}}</span><br>
                <input type="radio" id="male" value="Male" v-model="voter.gender"  name="gender"> <label for="male" style="margin-right: 10px;">Male</label>
                <input type="radio" id="female" value="Female" v-model="voter.gender"  name="gender"> <label for="female">Female</label>
              </div>
              <div class="form-group">
                <br>
                <span class="text-danger" v-show="errors.has('photo')">{{errors.first('photo')}}</span>
                <label class="photo-label" for="photo">{{imgLabel}}</label>
                <input type="file" id="photo" @change="uploadImage" style="display: none;" name="photo" v-validate="'required'">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label >Surname</label>
                <span class="text-danger pull-right" v-show="errors.has('surname')">{{errors.first('surname')}}</span>
                <input type="text" v-model="voter.surname" v-validate="'required'" name="surname" class="form-control" placeholder=".e.g. Doe">
              </div>
              <div class="form-group">
                <label >E-mail</label>
                <span class="text-danger pull-right" v-show="errors.has('email')">{{errors.first('email')}}</span>
                <input type="email" v-model="voter.email" v-validate="'required|email'" name="email" class="form-control" placeholder=".e.g. John.doe@example.org">
              </div>
              <div class="form-group">
                <label>Category</label>
                <span class="text-danger pull-right" v-show="errors.has('category')">{{errors.first('category')}}</span>
                <select class="form-control" v-model="voter.category" v-validate="'required'" name="category" multiple>
                  <option value="">Select Category</option>
                  <option v-for="(c, i) in cats" :value="c.id" :key="i">{{c.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <!--<div class="box no-border">-->
                <!--<div class="box-body">-->
                  <img src="/static/dist/img/Registration_100px.png" id="img_review" class="product-img"/>
                <!--</div>-->
              <!--</div>-->
            </div>
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add To My Voter List</button>
          <a href="#" @click.prevent="$router.push({name: 'admin-all-voters'})" class="btn bg-red pull-left"><i class="fa fa-eye"></i> View All Voters</a>
        </div>
      </form>
    </div>

    <!--<div class="row">-->
      <!--<div class="col-md-8 col-md-offset-2">-->
        <!--<div class="input-group input-group-sm">-->
          <!--<input type="text" class="form-control" placeholder="Search for voters by email or phone or name">-->
          <!--<span class="input-group-btn">-->
        <!--<button type="button" class="btn btn-info btn-flat"><i class="fa fa-search"></i> Search</button>-->
      <!--</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<br>-->
    <div class="row">
    <app-voter-item v-for="(v, index) in foundVoters" :key="index" :alreadyAdded="false" :voter="v"></app-voter-item>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-undef */
import VoterExistModal from './commons/voterExistModal.vue'
import VoterItem from './commons/voterItem.vue'
export default {
  components: {
    AppVoterExistModal: VoterExistModal,
    AppVoterItem: VoterItem
  },
  data () {
    return {
      voter: {
        firstname: '',
        surname: '',
        email: '',
        image: '',
        dateOfBirth: '',
        category: [],
        gender: 'Male',
        phone: ''
      },
      cats: [],
      imgLabel: 'Upload Passport size photo',
      foundVoters: []
    }
  },
  methods: {
    review (input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader()

        reader.onload = function (e) {
          $('#img_review').attr('src', e.target.result)
        }

        reader.readAsDataURL(input.files[0])
      }
    },
    uploadImage () {
      const el = $('#photo')
      const img = el.prop('files')
      this.imgLabel = img[0].name
      this.voter.image = img[0]
    },
    validateForm () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.register()
        }
      })
    },
    register () {
      const vm = this
      var formData = new FormData()
      formData.append('firstname', this.voter.firstname)
      formData.append('surname', this.voter.surname)
      formData.append('image', this.voter.image)
      formData.append('email', this.voter.email)
      formData.append('dateOfBirth', this.voter.dateOfBirth)
      formData.append('gender', this.voter.gender)

      this.voter.category.forEach((category, index) => {
        formData.append('category[]', category)
      })
      formData.append('phone', this.voter.phone)
      vm.$loader.show()
      this.axios({
        method: 'post',
        url: 'api/register/voter',
        data: formData,
        headers: {
          'accept': 'application/json'
        }
      }).then(({data}) => {
        console.log(data)
        if (!data.status) {
          vm.voterExits(data.voters)
        }
      }).catch((error) => {
        console.log(error)
      }).finally(() => {
        vm.$loader.hide()
      })
    },
    getCategories () {
      const vm = this
      this.axios({
        method: 'get',
        url: 'api/category'
      }).then(response => {
        vm.cats = response.data
      })
    },
    voterExits (voters) {
      swal({
        title: 'Voter already exist!',
        text: 'This voter already exist, you can',
        icon: 'warning',
        button: 'Ok'
      })
      this.foundVoters = voters
    }
  },
  mounted () {
    this.getCategories()
    const vm = this
    $('#photo').change(function () {
      vm.review(this)
    })
  }
}
</script>
<style scoped>
  .photo-label{
    color: #3c8dbc;
    border: 1px dashed #3c8dbc;
    padding: 3px;
    cursor: pointer;
    width: 100%;
  }
  .photo-label:hover{
    color: darkgreen;
  }
  label{
    font-weight: normal;
    font-size: 1.2em;
  }
  .voter div {
    display: inline;
  }
  .voter div img{
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  .add{
    position: relative;
    right: -67px;
    top: 30px;
  }
  .product-img{
    width: 100%;
    height: 100%;
  }
</style>
