<template>
  <div>
    <form @submit.prevent="castVote" id="ballotForm" v-if="candidates.length">
   <div class="row">
     <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 card">
       <ul v-for="(d, i) in candidates" :key="i">
         <li style="text-align: center; font-size: 20px; font-weight: bold; color: #3c8dbc;">
           {{d.port}}
         </li>
         <li v-for="(p, index) in d.candidates" :key="index">
          <img :src="p.image">
           <div :class="{'text-success': d.single && p.state === 'YES', 'text-danger': d.single && p.state === 'NO'}">
             <label>{{p.firstname + ' ' + p.surname}} {{p.state ? ' : ' + p.state : ''}}</label>
           </div>
           <input type="radio" :name="d.name" :value="p.id" v-model="d.portfolio" class="pull-right">
         </li>
       </ul>
       <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-check"></i> Finish</button>
     </div>
   </div>
    </form>
    <h4 style="text-align: center;" v-else>No Candidates available for this election</h4>
  </div>
</template>
<script>
/* eslint-disable no-undef,indent */

export default {
  data () {
    return {
      candidates: []
    }
  },
  mounted () {
    console.log('ballot')
    this.getCandidates()
  },
  methods: {
    getCandidates () {
      const vm = this
      this.axios({
        url: 'api/election/ballot',
        method: 'get',
        params: {
          election_id: vm.$route.query.election_id
        }
      }).then(({data}) => {
        console.log(data)
        vm.candidates = data.data
        vm.candidates.forEach(item => {
          console.log(item)
          item.port = item.portfolio
          item.name = item.portfolio.replace(/\s/g, '')
          item.single = false
          if (item.candidates.length === 1) {
            item.single = true
            item.candidates[0].state = 'YES'
            item.candidates.push({...item.candidates[0], id: 0, state: 'NO'})
          }
          item.portfolio = ''
        })
      }).catch(error => {
        console.log(error)
      })
    },
    castVote () {
      const votes = []
      var errorMessage = {state: false, value: '\n'}
      this.candidates.forEach(item => {
        const obj = {portfolio_id: item.portfolio_id, candidate_id: item.portfolio}
        if (obj.candidate_id === '') {
          errorMessage.state = true
          errorMessage.value += '* ' + item.port + '\n'
        }
        votes.push(obj)
      })
      const vm = this
      if (errorMessage.state) {
        swal('Oops', 'Please make sure you have voted these portfolio(s):' + errorMessage.value, 'error')
      } else {
        swal({
          title: 'Are you sure?',
          text: 'Your votes will now be saved',
          icon: 'warning',
          buttons: true,
          dangerMode: true
        })
          .then((willCast) => {
            if (willCast) {
              vm.makeVoteRequest(votes)
            }
          })
      }
    },
    makeVoteRequest (votes) {
      const vm = this
      this.$loader.show()
      this.axios({
        url: 'api/election/vote',
        method: 'post',
        data: {votes: votes, election_id: vm.$route.query.election_id}
      }).then(({data}) => {
        console.log(data)
        if (data.status === true) {
          swal('Congrats', 'You votes has been processed', 'success')
        } else {
          swal('Oops', 'Your votes has not been processed. You already voted', 'error')
        }
        vm.$router.push({name: 'voter-dashboard'})
      }).catch(error => {
        console.log(error)
      }).finally(() => {
        vm.$loader.hide()
      })
    }
  }
}
</script>
<style scoped>
ul{
  list-style: none;
  margin-bottom: 50px;
}
  ul img{
    width: 15%;
    height: 80%;
    border: 2px solid #3c8dbc;
    border-radius: 50%;
  }
  ul li{
    background: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 40px;
    border-top: 2px solid #3c8dbc;
    margin-bottom: 10px;
  }
  li div{
    display: inline;
    margin-left: 100px;
    margin-right: 100px;
  }
  li input{
    display: inline-block;
    margin-right: 40px;
    /*margin-top: 100px;*/
    cursor: pointer;
    -webkit-transform:scale(3, 3);
    -moz-transform:scale(3, 3);
    -ms-transform:scale(3, 3);
    -o-transform:scale(3, 3);
    transform:scale(3, 3)!important;
    margin-top: 1em;
  }
</style>
