<template>
  <div>
    <h3>Active Elections</h3>
    <div class="row">
      <app-election :result="false" v-for="(election, index) in elections" :key="index" :election="election"></app-election>
    </div>
  </div>
</template>
<script>
import Election from './election.vue'
export default {
  data () {
    return {
      elections: []
    }
  },
  mounted () {
    this.fetchElections()
  },
  components: {
    AppElection: Election
  },
  methods: {
    fetchElections () {
      const vm = this
      this.axios({
        url: 'api/election/voter',
        method: 'get'
      }).then(({data}) => {
        console.log(data)
        vm.elections = data.data
      }).catch(error => {
        console.log(error)
      })
    }
  }
}
</script>
<style scoped>
h3{
  text-align: center;
}
</style>
