<template>
  <div class="login-box">
    <div class="login-logo">
      <a href="#"><b>Voter</b> Login</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>
      <p class="login-box-msg text-danger">{{message}}</p>
      <form action="#" method="post" @submit.prevent="login">
        <!--<span class="text-danger" v-show="errors.has('email')">{{ errors.first('email') }}</span>-->
        <div class="form-group has-feedback">
          <label>Email</label> <span class="text-danger pull-right" v-show="errors.has('email')">{{errors.first('email')}}</span>
          <input type="text" v-model="user.email" v-validate="'required|email'" name="email" class="form-control" placeholder="e.g. john@doe.com">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <label>Phone</label> <span class="text-danger pull-right" v-show="errors.has('phone')">{{errors.first('phone')}}</span>
          <input type="number" v-model="user.phone" v-validate="'required|numeric'" name="phone" class="form-control" placeholder="e.g. 0547406827">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <!--<span class="text-danger" v-show="errors.has('password')">{{ errors.first('password') }}</span>-->
        <div class="form-group has-feedback">
          <label>Password</label> <span class="text-danger pull-right" v-show="errors.has('password')">{{errors.first('password')}}</span>
          <input type="password" v-model="user.password" v-validate="'required|min:6'" name="password" class="form-control" placeholder="Enter Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <router-link :to="{name: 'welcome'}" tag="a" href="#" class="btn btn-default btn-sm btn-flat"><span class="fa fa-backward"></span></router-link>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit"  class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <!-- /.social-auth-links -->

      <a href="#">I forgot my password</a><br>
      <!--<a href="register.html" class="text-center">Register a new membership</a>-->

    </div>
    <!-- /.login-box-body -->
  </div>
</template>
<script>
/* eslint-disable no-undef */
export default {
  mounted () {
    $('body').addClass('login-page')
    $('body').addClass('hold-transition')
  },
  destroyed () {
    $('body').removeClass('login-page')
    $('body').removeClass('hold-transition')
  },
  data () {
    return {
      user: {
        email: '',
        password: '',
        phone: ''
      },
      message: ''
    }
  },
  methods: {
    login () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.makeRequest()
        }
      })
    },
    makeRequest () {
      this.showLoader()
      const vm = this
      this.message = ''
      this.axios({
        method: 'post',
        data: {
          username: vm.user.email,
          password: vm.user.password,
          phone: vm.user.phone,
          client_id: 2,
          client_secret: '3XIdWj3vD59RSHnXpPgwE70IY7HpsjnV7OGSgrnt',
          grant_type: 'password'
        },
        url: 'oauth/token'
      }).then(({data}) => {
        vm.$auth.setToken(data.access_token, data.expires_in)
        vm.$router.push({name: 'voter-dashboard'})
      }).catch(error => {
        vm.message = error.response.data.message
      }).finally(() => {
        this.hideLoader()
      })
    },
    showLoader () {
      $('#loader').modal({backdrop: 'static'})
    },
    hideLoader: () => {
      $('#loader').modal('hide')
    }
  }
}
</script>
