<template>
  <div>
    <app-header/>
    <div class="content-wrapper">
      <div class="container">
        <!-- Main content -->
        <br><br>
        <section class="content">
          <router-view></router-view>
        </section>
        <!-- /.content -->
      </div>
      <!-- /.container -->
    </div>

    <div class="modal fade in" id="logoutModal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Are you sure you want to log out?</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-green pull-left" data-dismiss="modal">No, I want to stay</button>
            <button type="button" class="btn bg-red" @click="logout">Yes I Know</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>
<script>
/* eslint-disable no-undef */

import {PublicHeader} from '../commons'
export default {
  components: {
    AppHeader: PublicHeader
  },
  methods: {
    logoutPrompt () {
      $('#logoutModal').modal('show')
    },
    logout () {
      this.$auth.destoryToken()
      $('#logoutModal').modal('hide')
      this.$router.push({name: 'ec-login', params: {message: 'logout successful'}})
    }
  }
}
</script>
<style>
  .box{
    /*box-shadow: 1px 1px 3px grey;*/
  }
  .cover{
    margin-top: -10px;
    width: 100%;
  }
  .cover-actions a i{
    color: #ffffff;
  }
  .person-profile{
    padding: 10px;
    font-size: 1.2em;
  }
  .navigation button{
    margin-bottom: 10px;
    color: #3c8dbc;
    font-weight: bold;
  }
  #sidebar{
    position: fixed;
    width: 265px;
  }
</style>
