<template>
  <div class="lockscreen-wrapper">
    <div class="lockscreen-logo">
      <a href="#"><b>Verification Link Sent</b></a>
    </div>
    <div class="lockscreen-logo">
      <a href="#">{{election}}</a>
    </div>
    <!-- User name -->
    <div class="lockscreen-name">{{user.name}}</div>

    <!-- START LOCK SCREEN ITEM -->
    <div class="lockscreen-item">
      <!-- lockscreen image -->
      <div class="lockscreen-image">
        <img :src="user.image" alt="User Image">
      </div>
      <!-- /.lockscreen-image -->

      <!-- lockscreen credentials (contains the form) -->
      <form class="lockscreen-credentials" @submit.prevent="verify">
        <div class="input-group">
          <input v-model="code" type="text" class="form-control" placeholder="Verification code">

          <div class="input-group-btn">
            <button type="submit" class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
          </div>
        </div>
      </form>
      <!-- /.lockscreen credentials -->

    </div>
    <!-- /.lockscreen-item -->
    <div class="help-block text-center">
      Please enter the verification code sent to your mail
    </div>
    <div class="text-center">
      <a href="#" @click.prevent="sendVerification">Or resend code</a>
    </div>
    <!---->
  </div>
</template>
<script>
/* eslint-disable no-undef */

export default {
  data () {
    return {
      election: '...',
      user: {name: '', image: ''},
      code: ''
    }
  },
  created () {
    $('body').addClass('lockscreen')
    this.sendVerification()
  },
  destroyed () {
    $('body').removeClass('lockscreen')
  },
  methods: {
    sendVerification () {
      const vm = this
      this.$loader.show()
      this.axios({
        method: 'get',
        url: 'api/election/verify',
        params: {election_id: vm.$route.query.election_id}
      }).then(({data}) => {
        console.log(data)
        vm.election = data.data.election
        vm.user = data.data.user
      }).catch(error => {
        console.log(error)
      }).finally(() => {
        vm.$loader.hide()
      })
    },
    verify () {
      if (this.code === '') {
        swal('Oops', 'You must enter the verfication code', 'error')
      } else {
        const vm = this
        this.$loader.show()
        this.axios({
          url: 'api/election/verify',
          method: 'post',
          data: {code: vm.code, election_id: vm.$route.query.election_id}
        }).then(({data}) => {
          console.log(data)
          if (data.status === true) {
            swal('Verification successful', 'Your verification is complete', 'success')
            vm.$router.push({name: 'ballot', query: {election_id: vm.$route.query.election_id}})
          } else {
            swal('Verification unsuccessful', 'Your verification code is incorrect', 'error')
          }
        }).then(error => {
          console.log(error)
        }).finally(() => {
          vm.$loader.hide()
        })
      }
    }
  }
}
</script>
