<template>
<div class="col-md-4">
  <div class="box box-primary">
    <div class="box-body" v-if="!shouldEdit">
      <label class="category-name"><i class="fa fa-angle-right text-danger"></i> {{category.name}}</label><br>
      <label class="category-description"><i class="fa fa-angle-right text-danger"></i> {{category.description}}</label><br>
      <label class="category-priority"><i class="fa fa-angle-right text-danger"></i> Priority: {{category.priority}}</label>
      <br>
      <button class="btn bg-success btn-sm pull-left" @click="shouldEdit = true"><i class="fa fa-edit"></i> Edit</button>
      <slot></slot>
    </div>
    <div class="box-body" v-if="shouldEdit">
      <form>
        <div class="form-group">
          <label>Name</label>
          <span class="text-danger pull-right" v-show="errors.has('name')">{{errors.first('name')}}</span>
          <input type="text" v-model="toEdit.name" class="form-control" placeholder="Edit Category name" v-validate="'required'" name="name">
        </div>
        <div class="form-group">
          <label>Change Priority</label>
          <span class="text-danger pull-right" v-show="errors.has('priority')">{{errors.first('priority')}}</span>
          <select class="form-control" placeholder="Edit Category name" v-model="toEdit.priority" v-validate="'required'" name="priority">
            <option value="">Select priority</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <div class="form-group">
          <label>Description</label>
          <span class="text-danger pull-right" v-show="errors.has('description')">{{errors.first('description')}}</span>
          <input type="text" class="form-control" placeholder="Edit Category Description" v-model="toEdit.description" v-validate="'required'" name="description">
        </div>
        <div class="form-group">
          <a href="#" class="btn bg-red btn-sm pull-left" @click.prevent="shouldEdit = false"><i class="fa fa-close"></i> Cancel</a>
          <a href="#" @click.prevent="save" class="btn bg-primary btn-sm pull-right"><i class="fa fa-save"></i> Save</a>
        </div>
      </form>
    </div>
  </div>
</div>
</template>
<script>
export default {
  props: ['category', 'index'],
  data () {
    return {
      shouldEdit: false
    }
  },
  methods: {
    save () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.makeRequest()
        }
      })
    },
    makeRequest () {
      const vm = this
      this.axios({
        method: 'put',
        url: 'api/category',
        data: vm.toEdit
      }).then(() => {
        vm.category = {...vm.toEdit}
        vm.shouldEdit = false
      })
    }
  },
  computed: {
    toEdit () {
      return {...this.category}
    }
  }
}
</script>
<style>
.category-name, .category-description, .category-priority{
  font-weight: normal;
  /*border-bottom: 1px dashed #3c8dbc;*/
  padding-bottom: 3px;
  color: #3c8dbc;
}
</style>
