<template>
  <div class="col-lg-3 col-xs-6 col-md-3 col-sm-4">
    <!-- small box -->
    <div class="small-box" :class="{'bg-purple': result, 'bg-green': !result}">
      <div class="inner">
        <h3>Active</h3>

        <p>Election Name</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a v-if="result == false" href="#" @click.prevent="$router.push({name: 'verify', query: {election_id: election.election.id}})" class="small-box-footer">Manage<i class="fa fa-arrow-circle-right"></i></a>
      <a href="#"  class="small-box-footer" v-else>View Result <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
</template>
<script>
export default {
  props: ['election', 'result']
}
</script>
