<template>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <form>
            <div class="form-group">
              <label>Select Portfolio</label>
              <button @click.prevent="activateElection(true)" class="btn btn-default pull-right btn-sm" style="margin-left: 5px;" v-if="!election.active">
                <i class="fa fa-check"></i> Activate
              </button>
              <button @click.prevent="activateElection(false)" class="btn btn-success pull-right btn-sm" style="margin-left: 5px;" v-else>
                <i class="fa fa-times"></i> Deactivate
              </button>
              <button class="btn btn-danger pull-right btn-sm" @click.prevent="manageCandidate" style="margin-left: 5px;"><i class="fa fa-group"></i> Manage Candidates</button>
              <!--<button class="btn btn-primary pull-right btn-sm" @click.prevent="createPortfolio"><i class="fa fa-plus"></i> Create Portfolio</button>-->
              <select class="form-control" v-model="portfolio_id" style="margin-top: 20px;">
                <!--<option value="0">Select Portfolio</option>-->
                <option v-for="(p, index) in portfolios" :key="index" :value="p.id">{{p.name}}</option>
              </select>
            </div>
          </form>
        </div>
      </div>
      <div class="box" v-if="electionSummary">
        <div class="box-header with-border">
          <h3 class="box-title">Election Summary Board:
            <span style="color: #3c8dbc; font-weight: bold;">{{electionSummary.portfolio}}</span>
          </h3>
          <div class="box-tools pull-right">
            <router-link :to="{name: 'summary', query: {election_id: election_id}}" tag="button" class="btn btn-success btn-sm"><i class="fa fa-th-list"></i> Summary For All Portfolios</router-link>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-8">
              <p class="text-center">
                <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
              </p>

              <div class="chart">
                <!-- Sales Chart Canvas -->
                <canvas id="salesChart" style="height: 180px; width: 816px;" width="1020" height="225"></canvas>
              </div>
              <!-- /.chart-responsive -->
            </div>
            <!-- /.col -->
            <div class="col-md-4">
              <p class="text-center">
                <strong>Candidates</strong>
              </p>

              <div class="progress-group" v-for="(candidate, index) in electionSummary.candidates" :key="index">
                <div class="portfolio-img">
                  <img :src="candidate.image"/>
                </div>
                <span class="progress-text">
                  {{candidate.fullname}}
                  <span class="text-success indicator" v-if="electionSummary.single && index == 0">YES</span>
                  <span class="text-danger indicator" v-if="electionSummary.single && index == 1">NO</span>
                </span>
                <span class="progress-number"
                :class="{'text-success': electionSummary.single && index == 0, 'text-danger': electionSummary.single && index == 1}"
                ><b>
                  {{Number(candidate.percent).toFixed(2)}}%</b></span>

                <div class="progress sm">
                  <div class="progress-bar progress-bar-aqua" :style="{width: candidate.percent + '%'}"></div>
                </div>
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
        <div class="box-footer">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div class="description-block border-right">
                <span class="description-percentage text-green"><i class="fa fa-caret-up"></i>
                  <!--{{Number().toFixed()}}%-->
                </span>
                <h5 class="description-header">{{electionSummary.total}}</h5>
                <span class="description-text">TOTAL VOTES</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-xs-6">
              <div class="description-block border-right">
                <span class="description-percentage text-yellow"><i class="fa fa-caret-up"></i>
                  {{electionSummary.total ? Number(electionSummary.total_male / electionSummary.total * 100).toFixed(2) : '0.00'}}%
                </span>
                <h5 class="description-header">{{electionSummary.total_male}}</h5>
                <span class="description-text">TOTAL MALE VOTES</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-xs-6">
              <div class="description-block border-right">
                <span class="description-percentage text-green"><i class="fa fa-caret-up"></i>
                  {{electionSummary.total ? Number(electionSummary.total_female / electionSummary.total * 100).toFixed(2) : '0.00'}}%
                </span>
                <h5 class="description-header">{{electionSummary.total_female}}</h5>
                <span class="description-text">TOTAL FEMALE VOTES</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <!--<div class="col-sm-3 col-xs-6">-->
              <!--<div class="description-block">-->
                <!--<span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>-->
                <!--<h5 class="description-header">1200</h5>-->
                <!--<span class="description-text text-success">Active</span>-->
              <!--</div>-->
              <!--&lt;!&ndash; /.description-block &ndash;&gt;-->
            <!--</div>-->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
</template>
<script>
/* eslint-disable no-undef,key-spacing */

export default {
  data () {
    return {
      portfolios: [],
      portfolio_id: '',
      electionSummary: null,
      election: {}
    }
  },
  props: ['election_id'],
  methods: {
    activateElection (active) {
      const vm = this
      this.axios({
        url: 'api/election/activate',
        method: 'post',
        data: {election_id: vm.election_id, activate: active}
      }).then(({data}) => {
        vm.election.active = active
        if (data.data.state === true) {
          swal('Success', 'Election is now active', 'success')
        } else {
          swal('Success', 'Election is now inactive', 'success')
        }
      })
    },
    manageCandidate () {
      this.$router.push({name: 'manage-candidates', query: {election_id: this.election_id}})
    },
    fetchPortfolio () {
      const vm = this
      this.axios({
        url: 'api/portfolio/only-portfolio',
        method: 'get',
        params: {election_id: vm.election_id}
      }).then(({data}) => {
        console.log(data)
        vm.portfolios = data.data
        vm.election = data.election
      }).catch(error => {
        console.log(error)
      })
    },
    getElectionDetail () {
      const vm = this
      this.$loader.show()
      this.axios({
        method: 'get',
        url: 'api/election/detail',
        params: {election_id: vm.election_id, portfolio_id: vm.portfolio_id}
      }).then(({data}) => {
        console.log(data)
        vm.electionSummary = data.data
        if (vm.electionSummary.candidates.length === 1) {
          vm.electionSummary.single = true
          vm.electionSummary.candidates.push({
            ...vm.electionSummary.candidates[0],
            percent: 100 - vm.electionSummary.candidates[0].percent
          })
        }
      }).catch(error => {
        console.log(error)
      }).finally(() => {
        vm.$loader.hide()
      })
    }
  },
  mounted () {
    this.fetchPortfolio()
  },
  watch: {
    portfolios () {
      if (this.portfolios.length) {
        this.portfolio_id = this.portfolios[0].id
      }
    },
    portfolio_id () {
      this.getElectionDetail()
    }
  }
}
</script>
<style>
  .portfolio-img{
    float: left;
    width: 53px;
    height: auto;
    border: 2px solid #3c8dbc;
    border-radius: 25px;
    margin-right: 5px;
  }
.portfolio-img img{
  width: 48px;
  height: 48px;
  border-radius: 25px;
}
  .progress-group{
    clear: both;
    margin-bottom: 25px;
  }
  .indicator{
    font-size: 10px;
    font-weight: bold;
    padding: 0 10px 0 10px;
  }
</style>
