<template>
  <div class="col-md-4">
  <div class="box box-primary">
    <div class="box-body voter">
      <label>{{election.name}}</label><br>
      <label v-if="election.active" class="text-success">Active</label>
      <label v-if="!election.active" style="color: #888888;">Inactive</label>
      <br>
      <label>{{new Date(election.date).toDateString()}}</label>
      <router-link :to="{name: 'admin-election-detail', query: {election_id: election.id}}" tag="button" class="btn bg-red btn-sm pull-right"><i class="fa fa-cogs"></i> Manage</router-link>
    </div>
  </div>
  </div>
</template>
<script>
export default {
  props: ['election']
}
</script>
<style>
  label{
    font-weight: normal;
  }
</style>
