<template>
  <div class="box no-border">
    <div class="box-header">
      <label>{{portfolio.portfolio.name}}</label>
      <div class="form-group">
        <input class="form-control" v-model="term" name="term" placeholder="Search Candidate by email or phone"/>
        <button class="btn btn-primary btn-sm pull-right" @click="addCandidate">Add</button>
      </div>
      <div class="candidate-list">
        <span class="candidate" v-for="(candidate, index) in portfolio.candidates" :key="index">
           {{candidate.firstname + ' ' + candidate.surname}}<a href="#" class="remove-icon" @click="remove(candidate.id)"><span class="fa fa-close"></span></a>
        </span>
      </div>
    </div>
    <div class="box-body">

    </div>
  </div>
</template>
<script>
/* eslint-disable no-undef */

export default {
  props: ['portfolio'],
  data () {
    return {
      term: '',
      addedPort: []
    }
  },
  methods: {
    addCandidate () {
      if (this.term === '') {
        return false
      }
      const vm = this
      this.$loader.show()
      this.axios({
        method: 'post',
        url: 'api/portfolio/add-user',
        data: {user: vm.term, portfolio_id: vm.portfolio.portfolio.id, election_id: vm.$route.query.election_id}
      }).then(({data}) => {
        console.log(data)
        if (data.status) {
          vm.portfolio.candidates.push(data.data)
        } else {
          swal('Oops', 'You have already assigned this candidate a portfolio', 'error')
        }
      }).catch(() => {
        swal('Sorry, error', 'something unexpected happend, please try again', 'error')
      }).finally(() => {
        vm.$loader.hide()
      })
    },
    remove (candidate) {
      console.log('removing: ' + candidate)
    }
  }
}
</script>
<style scoped>
  .form-control{
    width: 92%;
    display: inline;
  }
.candidate{
  background: #ddd;
  padding: 5px;
  font-weight: bold;
  margin: 10px;
}
.candidate:hover{
  background: #eee;
}
.remove-icon{
  margin-left: 6px;
  padding: 5px;
}
.remove-icon:hover{
  color: red;
}
</style>
