<template>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="box box-primary">
      <div class="box-body voter">
        <div class="row">
          <div class="col-md-6">
            <img :src="voter.image"/>
          </div>
          <div class="col-md-6">
            <label>Name:</label> <span>{{voter.firstname + ' ' + voter.surname}}</span><br>
            <label>Gender:</label> <span>{{voter.gender}}</span><br>
            <label>Phone: </label> <span>{{voter.phone}}</span><br><br>
            <button @click="remove" v-if="alreadyAdded" class="btn bg-red btn-sm action pull-right" style="margin-right: 4px;"><i class="fa fa-minus"></i> Remove</button>
            <button @click="add" class="btn btn-primary btn-sm action pull-right" v-else><i class="fa fa-plus"></i> Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-undef */
export default {
  props: ['voter', 'alreadyAdded'],
  data () {
    return {}
  },
  methods: {
    remove () {
      if (this.alreadyAdded) {
        swal({
          title: 'Are you sure?',
          text: 'Once you remove this person, they will not be able to vote during your elections',
          icon: 'warning',
          buttons: true,
          dangerMode: true
        })
          .then((willDelete) => {
            if (willDelete) {
              swal({
                title: 'Voter removed!',
                text: 'This voter can no long voter during your elections',
                icon: 'warning',
                button: 'Ok'
              })
            }
          })
      }
    },
    add () {
      if (!this.alreadyAdded) {
        swal({
          title: 'Please confirm this action',
          text: 'Once you add this person, they will be able to vote during your elections',
          icon: 'warning',
          buttons: true,
          dangerMode: true
        })
          .then((willDelete) => {
            if (willDelete) {
              swal({
                title: 'Voter Added!',
                text: 'This voter can now voter during your elections',
                icon: 'success',
                button: 'Ok'
              })
              this.foundVoters = []
            }
          })
      }
    }
  }
}
</script>
<style scoped>
  /*label{*/
    /*font-weight: normal;*/
    /*font-size: 1.2em;*/
  /*}*/
  .voter div {
    display: inline;
  }
  .voter div img{
    width: 100%;
    height: 100%;
    padding: 0px;
    position: relative;
  }
  /*.add{*/
    /*position: relative;*/
    /*right: -55px;*/
    /*top: 30px;*/
  /*}*/
  /*.action{*/
    /*position: absolute;*/
    /*bottom: -70px;*/
    /*right: 0px;*/
  /*}*/
</style>
