<template>
  <div class="modal fade in" id="voter-exist-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">These are results that match the voter you want to register</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <app-voter-item></app-voter-item>
              <app-voter-item></app-voter-item>
              <app-voter-item></app-voter-item>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</template>
<script>
export default {
  data () {
    return {}
  }
}
</script>
<style scoped>
  .modal-title{
    color: #3c8dbc;
  }
  .voter-img{
    width: 160px;
    height: 160px;
  }
</style>
