<template>
  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand"><b>OVS</b>LTE</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <router-link :to="{name: 'ec-register'}" activeClass="active" tag="li"><a href="#">EC Register</a></router-link>
            <router-link :to="{name: 'ec-login'}" activeClass="active" tag="li"><a href="#">EC Login</a></router-link>
            <router-link :to="{name: 'voter-login'}" activeClass="active" tag="li"><a href="#">Voter Login</a></router-link>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
            </div>
          </form>
        </div>
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>
</template>
<script>
export default {
  methods: {
    logout () {
      this.$auth.destoryToken()
      this.$router.push({name: 'login'})
    }
  }
}
</script>
