<template>
  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand"><b>OVS</b>LTE</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <div class="navbar-custom-menu">
          <!--<ul class="nav navbar-nav">-->
            <!--<li class="dropdown user user-menu">-->
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                <!--<img src="/static/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
                <!--&lt;!&ndash; hidden-xs hides the username on small devices so only the image appears. &ndash;&gt;-->
                <!--<span class="hidden-xs">Alexander Pierce</span>-->
              <!--</a>-->
              <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash; The user image in the menu &ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;<li class="user-header">&ndash;&gt;-->
                  <!--&lt;!&ndash;<img src="/static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">&ndash;&gt;-->

                  <!--&lt;!&ndash;<p>&ndash;&gt;-->
                    <!--&lt;!&ndash;Alexander Pierce - Web Developer&ndash;&gt;-->
                    <!--&lt;!&ndash;<small>Member since Nov. 2012</small>&ndash;&gt;-->
                  <!--&lt;!&ndash;</p>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash; Menu Body &ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;<li class="user-body">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-xs-4 text-center">&ndash;&gt;-->
                      <!--&lt;!&ndash;<a href="#">Followers</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-xs-4 text-center">&ndash;&gt;-->
                      <!--&lt;!&ndash;<a href="#">Sales</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-xs-4 text-center">&ndash;&gt;-->
                      <!--&lt;!&ndash;<a href="#">Friends</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash; /.row &ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash; Menu Footer&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;<li class="user-footer">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="pull-left">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="#" class="btn btn-default btn-flat">Profile</a>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="pull-right">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="#" @click.prevent="logout" class="btn btn-default btn-flat">Sign out</a>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--</li>-->
          <!--</ul>-->
        </div>
        <!-- /.navbar-custom-menu -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>
</template>
<script>
export default {
  methods: {
    logout () {
      this.$auth.destoryToken()
      this.$router.push({name: 'ec-login'})
    }
  }
}
</script>
<style scoped>
  header{
    position: fixed;
    width: 100%;
  }
</style>
