<template>
  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand"><b>OVS</b>LTE</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <router-link :to="{name: 'voter-dashboard'}" tag="li" activeClass="active"><a href="#">Dashboard</a></router-link>
            <router-link :to="{name: 'results'}" tag="li" activeClass="active"><a href="#"> <i class="fa fa-th-list"></i> Results</a></router-link>
          </ul>
        </div>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img :src="user.image" class="user-image" alt="User Image">
                <span class="hidden-xs">Alexander Pierce</span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-header">
                  <img :src="user.image" class="img-circle" alt="User Image">
                  <p>
                    {{user.firstname + '  ' + user.surname}}
                    <small>{{new Date(user.dateOfBirth).toDateString()}}</small>
                  </p>
                </li>
                <!-- Menu Body -->
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a href="#" @click.prevent="logout" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-custom-menu -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>
</template>
<script>
/* eslint-disable no-undef */

export default {
  data () {
    return {
      user: {firstname: '', surname: '', image: '', dateOfBirth: ''}
    }
  },
  mounted () {
    this.getUser()
  },
  methods: {
    logout () {
      console.log('logout')
      if (this.$route.name === 'ballot') {
        swal({
          title: 'Are you sure?',
          text: 'Your vote has not been saved yet, you will lose everything',
          icon: 'warning',
          buttons: true,
          dangerMode: true
        })
          .then((willDelete) => {
            if (willDelete) {
              this.$auth.destoryToken()
              this.$router.push({name: 'voter-login'})
            }
          })
      } else {
        this.$auth.destoryToken()
        this.$router.push({name: 'voter-login'})
      }
    },
    getUser () {
      const vm = this
      this.axios({
        url: 'api/voter/user',
        method: 'get'
      }).then(({data}) => {
        vm.user = data
      })
    }
  }
}
</script>
